<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pleaserename.pleaserename" android:versionName="0.0.1" android:versionCode="1">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:debuggable="false">
    <meta-data android:name="com.huawei.android.vr.application.mode" android:value="vr_only"/>
    <meta-data android:name="com.huawei.android.vr.application.type" android:value="game" />
    <meta-data android:name="android.max_aspect" android:value="4.1" />
    <activity android:name="com.huawei.vrlab.HVRActivity" android:label="@string/app_name" android:screenOrientation="landscape" android:launchMode="singleTask" android:configChanges="screenSize|orientation|keyboardHidden|keyboard" android:taskAffinity=":finishing">
      <intent-filter>
        <action android:name="com.huawei.android.vr.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
<!--  <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>-->
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />      
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="26" />  
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.huawei.android.permission.VR"/>
  <uses-permission android:name="com.huawei.vrhandle.permission.DEVICE_MANAGER" />
</manifest>